#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang en_US.UTF-8


reboot --eject

# Network information
network --bootproto=static --device=eth0 --ip={{ centos_network.ip }} --netmask={{ centos_network.netmask }} --gateway={{ centos_network.gateway }} --nameserver={{ centos_network.nameserver }} --noipv6 --activate
network  --hostname={{ inventory_hostname_short }}

# Use network installation
url --url="{{ centos_repository }}"
# Root password
rootpw --iscrypted {{ centos_root_password }}
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc --nontp
user --name={{ centos_user.name }} --password={{ centos_user.password }} --iscrypted --gecos="{{ centos_user.gecos }}" --groups="wheel"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
mkdir ~{{ centos_user.name }}/.ssh
cat << EOS > ~{{ centos_user.name }}/.ssh/authorized_keys
{% for key in authorized_keys %}
{{ key }}
{% endfor %}
EOS
chown -R {{ centos_user.name }}:{{ centos_user.name }} ~{{ centos_user.name }}/.ssh
chmod 700 ~{{ centos_user.name }}/.ssh
%end